@import 'font.css';

:root {
    --main-bg-color: #fff;
    --secend-bg-color: #F5F5F5;
    --grey: #4b4b4b;
    --f_Poppins: 'Poppins';
    --f_Inter: 'Inter';
    --red: #963B40;
    --black: #000;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--f_Poppins);
    overflow-x: hidden;
    position: relative;
}
a {
    text-decoration: none;
    display: inline-block;
    color: unset;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
}

button {
    border: none;
    cursor: pointer;
}
.container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.btn-flat {
    padding: 10px 0;
    font-size: 14px;
    color: var(--white);
    font-weight: 700;
    background: var(--black);
    width: 130px;
    cursor: pointer;
    transition: .5s;
    border: 2px solid var(--black);
}

.btn-flat:hover {
    background: var(--white);
    color: var(--black);
}

.title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 60px;
    text-align: center;
    text-transform: uppercase;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.bg-second {
    background: var(--secend-bg-color);
}

.top__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.top__header ul {
    display: flex;
}

.top__header a {
    font-size: 13px;
    color: #23181c;
}

ul.list > li {
    margin-right: 10px;
    padding-right: 10px;
    border-right:  1px solid #23181c;
}

ul.list > li:last-child {
    border: none;
}


.dropdown {
    position: relative;
}

.dropdown:hover .dropdown__content {
    top: 100%;
    opacity: 1;
}

.dropdown__content {
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: visible;
    position: absolute;
    top: calc(100% + 10px);
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0;
    background: #fff;
    transition: .4s;
}

.dropdown__content > li > a {
    padding: 10px;
}

.dropdown__content > li > a:hover {
    color: var(--red);
}

/* -------------------------------- Mid header --------------------------- */

.bg-main {
    padding: 14px 0;
}

.mid__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 40px;
    font-weight: 700;
}

.search {
    max-width: 547px;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    background: var(--secend-bg-color);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input {
    border: none;
    background: transparent;
    width: 100%;
    height: 100%;
    outline: none;
}

.search i {
    color: var(--grey);
    font-size: 18px;
}

.user__menu {
    display: flex;
    column-gap: 26px;
    font-size: 23px;
}

.user__menu i {
    cursor: pointer;
}


/* ---------------------------------- Mega menu start -------------------------- */



.main__menu {
    display: flex;
    justify-content: center;
    column-gap: 35px;
}

.main__menu > li > a {
    font-size: 15px;
    font-weight: 600;
    padding: 8px 0;
    transition: .5s;
}

.main__menu > li > a:hover {
    color: var(--red);
}

.mega__dropdown > a > i {
    transition: .5s;
}

.mega__dropdown:hover > a > i {
    transform: rotate(180deg);
}

.mega__content {
    background: var(--main-bg-color);
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.25);
    padding: 45px 0;
    position: absolute;
    left: 0;
    top: calc(100% + 100px);
    visibility: hidden;
    opacity: 0;
    width: 100%;
    transition: 500ms;
}

.mega__dropdown:hover .mega__content {
    top: 100%;
    opacity: 1;
    z-index: 111;
    visibility: visible;
}

.box > h3 {
    font-size: 20px;
    margin-bottom: 30px;
}

.box > ul > li > a {
    margin-bottom: 14px;
    color: #313131;
    border-bottom: 2px dashed var(--grey);
    padding-bottom: 14px;
    text-transform: capitalize;
    transition: 0.2s ease-in-out;
}

.box > ul > li > a:hover {
    padding-left: 10px;
    color: var(--red);
    border-bottom: 2px dashed var(--red);
}

/* ========================== Main start =========================== */

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-= Slider section start =-=-=-=-=-=-=-=-=-=-=-=- */

#slider {
    height: 100vh;
    position: relative;
    padding: 0 20px;
}

#slider .container {
    height: 100%;
    position: relative;
}

#slider .container .slide {
    height: 0;
    position: absolute;
    display: flex;
    visibility: hidden;
    overflow: hidden;
    /* opacity: 0; */
}

#slider .container .slide.active {
    visibility: visible;
    height: 100%;
}

#slider .container .slide .info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#slider .container .slide .img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider .container .slide .info .info__txt {
    font-size: 17px;
    font-weight: 600;
}

#slider .container .slide .info .info__title {
    font-size: 59px;
    margin: 14px 0 31px;
}

#slider .container .slide .info .info__text {
    font-size: 15px;
    line-height: 22px;
    color: #575757;
    margin-bottom: 30px;
}

.slider__controll {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__controll:hover {
    background: var(--black);
    color: var(--white);
}

.next {
    right: -10%;
}
.prev {
    left: -10%;
}

#slider:hover .next {
    right: 2%;
}
#slider:hover .prev {
    left: 2%;
}

/* ------------------ Animation -------------------- */

.top-down {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: .8s;
}

.slide.active .top-down{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.right-left {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    transition: .8s;
}

.slide.active .right-left {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.down-top {
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    transition: .8s;
}

.slide.active .down-top {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

/* ------------------------ Transition delay ----------------- */

.transition-delay-2 {
    transition-delay: .2s;
}
.transition-delay-4 {
    transition-delay: .4s;
}
.transition-delay-6 {
    transition-delay: .6s;
}
.transition-delay-8 {
    transition-delay: .8s;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=- Promation section start -=-=-=-=-=-=-=-=-=-=-=- */

.promation__box {
    background: #d9d9d9;
    display: flex;
    justify-content: space-between;
}

.promation__box:hover img {
    transform: scale(1.1);
}

.promation__text {
    padding: 21px 0 21px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.promation__text h4 {
    font-size: 20px;
    font-weight: 600;
}

.promation__btn {
    width: 170px;
}

.promation__box img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: all .3s ease-in-out;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Product section start =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

#product, #product-2 {
    margin: 100px 0 75px;
}

.product__card-img {
    height: 308px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__card-img img {
    max-height: 100%;
}

.product__card-img img:nth-of-type(2) {
    display: none;
}

.product__card:hover .product__card-img img:nth-of-type(1) {
    display: none;
}

.product__card:hover .product__card-img img:nth-of-type(2) {
    display: block;
}

.product__card-info {
    position: relative;
    text-align: center;
}

.product__btns {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all .3s ease-in-out;
}

.product__card:hover .product__btns {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.product__card-btn:first-of-type {
    width: 120px;
    flex-shrink: 0;
}

.product__card-btn:nth-of-type(2),
.product__card-btn:nth-of-type(3) {
    width: 40px;
}

.product__card-name {
    font-size: 20px;
    font-weight: 400;
    padding: 22px 0;
}

.product__card-price span {
    font-size: 14px;
}

.product__card-price span:last-of-type {
    color: var(--red);
    font-size: 20px;
    font-weight: 500;
    margin-left: 11px;
}

.product__link {
    text-align: center;
    margin-top: 100px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Special-product section start -=-=-=-=-=-=-=-=-=-=*/

#special-product .bg-second {
    padding: 30px 0;
}

.special-product__image {
    max-width: 400px;
    width: 100%;
    height: 326px;
}

.special-product__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.special-product__title {
    font-size: 48px;
    font-weight: 600;
}

.special-product__txt {
    font-size: 15px;
    line-height: 22px;
    margin: 21px 0 57px;
    max-width: 654px;
    width: 100%;
}


/* -=-=-=-=-=-=-=-=-=-=-=-=-=- Blog section start -=-=-=-=-=-=-=-=-=-=-=-=-= */

#blog {
    margin-bottom: 90px;
}

.blog__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog__desc-title {
    font-size: 32px;
    font-weight: 400;
}

.blog__desc-txt {
    font-size: 17px;
    line-height: 26px;
    margin: 43px 0 75px;
}

.blog__link {
    text-align: center;
    margin-top: 113px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Footer start -=-=-=-=-=-=-=-=-=-=-=-=-= */

#footer .bg-second {
    padding: 66px 0 112px;
}

.footer__list {
    padding-left: 40px;
}

.footer__list p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer__link {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
    transition: all .3s ease-in-out;
}

.footer__link:hover {
    padding-left: 5px;
    color: var(--red);
}

.footer__socials {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__socials-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 44px;
}

.footer__socials-list {
    display: flex;
    column-gap: 24px;
    margin-bottom: 40px;
}

.footer__socials-link {
    font-size: 25px;
}

.footer__form {
    height: 50px;
    background: var(--white);
    display: flex;
    align-items: center;
    padding: 0 7px 0 17px;
}

.footer__form button {
    padding: 11px 14px;
    background: var(--red);
    color: var(--white);
    font-family: var(--f_Inter);
    font-size: 12px;
}

.footer__form button:hover {
    background: rgb(79, 5, 5);
}

.footer__form input {
    outline: none;
    border: none;
}